@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body{
  margin:0;
  padding:0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

header{
  width:100%;
  height:100vh;
  background:url(../img/background.jpeg) no-repeat 50% 50%;
  background-size:cover;
}

header h1{
  position: absolute;
  top: 50%;
  left: 42%;
  color: #fff;
  font-size: 4em;
}

.content{
  width:90%;
  margin:4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo{
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-size: 24px;
}

nav{
  position: fixed;
  width: 100%;
  z-index: 99;
}

nav ul{
  list-style: none;
  background: rgba(0,0,0,0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav.black ul{
  background: #000;
}

nav ul li{
  display: inline-block;
  padding: 20px;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.menu-icon{
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 300px;
  background: #000;
  color: #fff;
}

footer ul{
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.socialmedia{
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.socialmedia img{
  height: 40px;
  width: auto;
  transform: scale(1);
  transition: 0.3s ease;
}

.socialmedia img:hover{
  transform: scale(1.25);
  transition: 0.3s;
  cursor: pointer;
}

.mainbox{
  padding-left: 15%;
  width: 70%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box{
  height: 200px;
  width: 20%;
  text-align: center;
}

.box img{
  height: 100px;
  width: auto;
}

.splitbox{
  height: 700px;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.leftbox{
  height: 350px;
  width: 49%;
  border: 1px solid red;
}

.rightbox{
  height: 350px;
  width: 49%;
  border: 1px solid red;
}

@media only screen and (max-width: 1024px){
  header h1{
    position: absolute;
    top: 70%;
    left: 35%;
    font-size: 3em;
  }

  nav ul li a{
    font-size: 20px;
  }

  .mainbox{
    height: 500px;
    flex-wrap: wrap;
  }

  .box{
    height: 130px;
    width: 40%;
    text-align: center;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 680px){
  .logo{
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  header{
    background-size: cover;
    height: 65vh;
  }

  header h1{
    position: absolute;
    top: 47%;
    left: 35%;
    font-size: 2em;
  }

  nav ul{
    max-height: 0px;
    background: #000;
  }

  .showing{
    max-height: 20em;
  }

  nav ul li{
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }

  .menu-icon{
    display: block;
  }

  .socialmedia{
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .mainbox{
    padding-left: 0;
    width: 100%;
    flex-wrap: nowrap;
    height: 700px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .box{
    height: 130px;
    width: 80%;
    text-align: center;
    padding-bottom: 50px;
  }

  .box img{
    height: 70px;
    width: auto;
  }
}
